@model IEnumerable<TechnicalExam.Services.Models.TransactionsModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Transfer Money</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransferAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceAccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationAccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferAmount)
            </td>
        </tr>
}
    </tbody>
</table>
